header{
    background-color:#fff;
    border-radius:100px;
    overflow:hidden;
    border-bottom:3px solid green;
    font-family:sans-serif;
    }

body{
    background-image: url('../image/bg.jpg');
    background-size: 110%;
}
.breg{
    background-color:aliceblue;
  
}





header h1{
    margin-left:5%;
    font-size:30pt;
    display:inline-block;
    float:left;
}

.hreg,.hreg h1{
    margin-top:2%;
    float:none;
    text-align: center;
    margin:0;
    

}

.hreg p{
    display:inline-block;
}
#loginF{
    float:right;
    margin-right:5%;
    display:inline-block;

}

#login{
    padding:6px;
    width:100px;
    background-color:white;
    border:3px solid green;
    border-radius:20px;
    font-size: 15px;
}

#login:hover{
    background-color:green;
    font-size: 15px;
    color:white;
}

#createA{
      padding:10px;
    width:70%;
    background-color:white;
    border:3px solid green;
    border-radius:20px;
}

#createA:hover{
    background-color:green;
    font-size: 15px;
    color:white;
}
 
#logout{
     padding:10px;
    width:8%;
    font-size:15px;
   background-color: green;
    border:2px solid white;
    color:white;
    border-radius:20px;
    float:right;
    margin-right:5%;
    display:inline-block;
}

#logout:hover{
    background-color: white;
    border:2px solid green;
    color:black;
    
}
.container{
    width:80%;
    margin:auto;
    margin-top:5%;
    float:right;
    margin-right:5%;
}

#register{
    padding:25px;
    margin:auto;
    height:350px;
    border:3px solid green;
    border-radius:60px;
    text-align: center;
    }

section .tfield{
    width:80%;
    padding:5px;
    border:none;
    border-bottom:2px solid green;
    border-left:1px solid green;
}

.aside{
    width:20%;
    background-color:darkslategrey;
    padding:20px;
    height:250px;
    margin-top:5%;
    margin-left:2%;
    border:2px solid green;
    border-radius:40px;
    display:inline-block;
}

a{ 
    text-decoration: none;
     color:goldenrod;
    font-weight:bolder;
    font-size:22px;
}

.lista{
   
    margin:0px;
    list-style-type:none;
}

.listl{
   letter-spacing: 3px;
   margin:0px; 
    list-style-type:none;
}

a:hover{
    text-decoration:underline;
    color:white;
}


#formI{
    width:35%;
    float:right;
    display:inline-block;
    margin-right:4%;
}

#quote{
   width:50%;
text-align: justify;
    text-indent: 50px;
display:inline-block;
   letter-spacing:3px;
    font-size:18px;
       color:darkgoldenrod;
}

.wrapper{
    display:inline-block;
    overflow:hidden;
    width:60%;
    float:right;
    border:2px solid green;
    margin-top: 5%;
    margin-right: 5%;
    background-color:darkslategrey;
    border-radius:40px;
}

.e1,.e2,.e3,.e4{
    width:40%;
    display:inline-block;
    padding:20px;
    text-align: justify;
    color:goldenrod;
    letter-spacing: 2px;
    
}

#current{
    color:white;
    
}

.aexpense{
    display:inline-block;
    float:right;
    padding:30px;
    letter-spacing: 2px;
    border:2px solid green;
    border-radius:70px;
    font-weight: bolder;
    background-color:darkslategrey;
    color:darkgoldenrod;
    font-size:19px;
    margin-right:20%;
    margin-top:4%;
}

#saveae{
    margin-left:40%;width:30%;padding:5px;border-radius: 50px;
    font-size:18px;
    background-color: green;
    border:2px solid white;
    color:white;
}

#saveae:hover{
    background-color: white;
    border:2px solid green;
    color:black;
    
}

.showex{
    margin-top:2%;
    width:40%;
    float:right;
    letter-spacing: 2px;
    border:2px solid green;
    border-radius:70px;
    font-weight: bolder;
    background-color:darkslategrey;
    color:darkgoldenrod;
    font-size:19px;
    padding:5%;
    margin-right: 8%;
    
}

.rexpenses{
    max-height: 250px;
    overflow-y: scroll;
}

h2{
    color:white;
}

#addin{
   overflow:visible;
}